@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
.pig {
  border-radius: 4rem;
}

.app-width {
  max-width: 1280px;
  margin-inline: auto;
  width: 100%;
  padding-inline: calc(var(--spacing) * 6) /* 1.5rem = 24px */;
  @media (width >= 64rem /* 1024px */) {
    padding-inline: calc(var(--spacing) * 10) /* 2.5rem = 40px */;
}
}
.menu {
  @media (width >= 940px) {
      display: flex;
  }
}
.menu1 {
  @media (width >= 940px) {
      display: none;
  }
}
.menu3 {
  @media (width >= 940px) {
      display: block;
  }
}
.lground {
  @media (width >= 940px) {
      border-radius: var(--radius-3xl) /* 1.5rem = 24px */;
  }
}
.hideimage {
  @media (width <= 1023px) {
      display: none;
  }
}

/* logos.module.css */
.logo-webasto {
  width: 283px;
  height: 60px;
}
.logo-tesla {
  width: 71px;
  height: 60px;
}
.logo-maxwell {
  width: 113px;
  height: 60px;
}
.logo-abb {
  width: 153px;
  height: 60px;
}
.logo-enelx {
  width: 237px;
  height: 60px;
}
.logo-bosch {
  width: 224px;
  height: 52px;
}
.logo-enphase {
  width: 275px;
  height: 50px;
}
.logo-chargepoint {
  width: 258px;
  height: 58px;
}
.logo-amazon {
  width: 141px;
  height: 62px;
}
.logo-asana {
  width: 164px;
  height: 62px;
}
